@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fade-in-slow {
    animation: animation-fade-in-slow 0.8s;
}

@keyframes animation-fade-in-slow {
    from {
        transform: translateX(-100);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}