<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hygeia</title>
  {{ style('app') }}
</head>
<body class="bg-hygeia-white font-display">
  @include('partials/panel')

  {{--  BEGIN CONTENT  --}}
  <section class="items-center align-middle py-8">
    Welcome To Dashboard
  </section>
</body>
</html>
