<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hygeia</title>
  {{ style('app') }}
</head>
<body class="bg-hygeia-white font-display">
  @include('partials/header')

  {{--  BEGIN CONTENT  --}}
  <section class="items-center align-middle py-8">

    <div class="justify-items-center mt-6">
      <h1 class="text-center text-4xl font-semibold leading-tight mb-3">About</h1>

      <div class="border- border-black rounded-2xl shadow-2xl m-auto w-3/4 h-96 p-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo mauris at augue cursus, et laoreet lorem imperdiet. Cras finibus malesuada augue, vel semper diam suscipit at. Curabitur sed nulla mattis, condimentum purus vel, lacinia velit. Aliquam dignissim sapien a mi laoreet, nec feugiat diam consectetur. Nam sem tellus, condimentum tristique ligula malesuada, mollis lacinia massa. Nam varius pretium porttitor. Donec lacus tortor, maximus sed euismod sit amet, consectetur in erat. Sed euismod molestie mi vel gravida. Sed tempor convallis libero, ac molestie mi fermentum eu. Nullam nisl tellus, imperdiet at odio id, fringilla viverra libero. Quisque tempor suscipit sapien nec accumsan. Quisque eget enim blandit, blandit urna quis, malesuada mauris.

        Pellentesque elit lectus, commodo ut nulla dapibus, faucibus ultrices augue. Nullam ultricies lobortis felis vel feugiat. Nulla at accumsan arcu. Curabitur sodales consequat tincidunt. Nullam sit amet tristique est. Vestibulum fermentum non mauris dictum aliquam.
      </div>
    </div>
  </section>
</body>
</html>
