<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hygeia</title>
  {{ style('app') }}
</head>
<body class="bg-hygeia-white font-display">
  @include('partials/header')

  {{--  BEGIN CONTENT  --}}
  <section class="items-center align-middle py-8">

    <div class="justify-items-center mt-6">
      <h1 class="text-center text-4xl font-semibold leading-tight mb-3">About</h1>

      <div class="border- border-black rounded-2xl shadow-2xl text-justify m-auto md:w-3/4 md:h-96 p-10 md:p-12">
        <p class="text-lg" style="text-indent: 45px;">Hygeia merupakan sebuah aplikasi berbentuk website yang bertujuan untuk membantu masyarakat serta pemerintah dalam menanggulangi masalah kebersihan lingkungan. Konsep yang digunakan pada website ini adalah konsep gotong royong dimana masyarakat dan pemerintah memiliki tugas yang berbeda. Tujuan dari website ini yaitu untuk memberikan kemudahan pada masyarakat untuk melaporkan masalah kebersihan lingkungan yang berada di sekitarnya sedangkan pemerintah mampu mengatasi masalah kebersihan lingkungan secara tepat saasaran.
        </p>
        <p class="text-lg" style="text-indent: 45px;">Pada website ini nantinya akan terdapat fitur pelaporan tempat yang mengalami masalah kebersihan lingkungan, halaman yang berisi postingan mengenai informasi-informasi kebersihan lingkungan, dan halaman administrator yang mengatur seluruh komponen yang ada pada website.</p>
      </div>
    </div>
  </section>
</body>
</html>
