<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hygeia - About</title>
  {{ style('app') }}
</head>
<body class="bg-hygeia-white font-display">
  @include('partials/header')

  {{--  BEGIN CONTENT  --}}
  <section class="items-center align-middle py-8">

    <div class="justify-items-center mt-24">
      <div class="border- border-black text-center rounded-lg shadow-2xl m-auto w-96 h-64 p-10">
        <h1 class="text-center text-4xl font-semibold leading-tight mt-10">TERIMAKASIH</h1>
        <h4 class="text-md font-semibold leading-tight py-3">FORM BERHASIL DIKIRIM</h4>
      </div>
    </div>
  </section>
</body>
</html>
